@import './abstract/variables';

.article-container{
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 130px;
}

.article-image{
  max-width: 100%;
}

h1.article-title{
  font-weight: 570;
  font-size: 1.7rem;
  font-family: $article-titles;
  padding-left: 0px !important;
  margin-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}



.TopArea{
  text-align: left;
  padding-bottom: 20px !important;
}


.caret-breaker{
  font-size: 12px;
  padding:0px 5px;
  position: relative;
  bottom: 1px;
  text-decoration: none !important;
}

hr.Title-LineBreak{
  border-top: 1px solid $grey;
}

.ImageArea{
  padding-top: 10px;
  padding-bottom: 1px;
}

.image-caption{
  position: relative;
  font-size: 10px;
  bottom: 5px;
}

.SectionArea{
  padding-top: 5px;
}

.section-paragraph{
  font-size: 16px;
}

.section-title{
  font-weight: 400;
  font-size: 22px;
  font-family: $article-titles;
  padding-bottom: 5px !important;
}

span.divider{
  position: relative;
  font-size: 15px;
  color: $grey;
  border-left: 1px solid $grey;
  height: 20px;
}

.TitleArea{
  display: grid !important;
  position: relative;
  grid-column-gap: 0px;
}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 570px) {
//   .article-container{
//     margin-top: 150px;
//   }
// }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .article-container{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 130px;
  }
  .article-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0px !important;
  }
}
