@import './abstract/variables';

.article-container{
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;
}

.article-image{
  max-width: 100%;
}

.article-title{
  font-weight: 570;
  font-size: 1.4rem;
  font-family: $article-titles;
}

.TopArea{
  text-align: left;
  padding-bottom: 20px !important;
}


.caret-breaker{
  font-size: 12px;
  padding:0px 5px;
  position: relative;
  bottom: 1px;
  text-decoration: none !important;
}

hr.Title-LineBreak{
  border-top: 1px solid $grey;
}

.ImageArea{
  padding-top: 10px;
  padding-bottom: 1px;
}

.image-caption{
  position: relative;
  font-size: 10px;
  bottom: 5px;
}

.SectionArea{
  padding-top: 5px;
}

.section-paragraph{
  font-size: 16px;
}

.section-title{
  font-weight: 400;
  font-size: 22px;
  font-family: $article-titles;
  padding-bottom: 5px !important;
}

.title-divider{
  position: relative;
  color: $light-grey;
  font-size: 30px;
  padding: 0 10px;
  font-weight: 100;
}

.TitleArea{
  display: flex;
}

.article-title{
  flex: 1;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .article-container{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 180px;
  }
  .article-title{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0px !important;
  }
}
