@import './abstract/variables';

.Backdrop-Component{
  width: 100%;
  height: auto;
  z-index: 4000;
  background-color: $dark-grey;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  position: absolute;
}
