@import './abstract/variables';

.caret {
  left: 65px !important;
  top: 28px !important;
  position: fixed !important;
  height: 10px !important;
  display:inline-block;
  transition: transform 300ms ease;
}

.open{
  transform: rotate( 180deg );
  transition: transform 300ms ease;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .caret{
    visibility: hidden !important;
  }
}
