@import './abstract/variables';

.editArticle {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display:inline-block;
  cursor: pointer;


}

@media only screen and (min-width: 568px) {
  img.editArticle{
    height: 28px !important;
    margin: 0px !important;
    bottom: 0px;
  }
}
