@import './abstract/variables';

// .button-blue{
//   background-color: $dark-blue !important;
// }

.Card-Area{
  display: grid;
}

.divider-line{
  border: .5px solid $light-grey;
}

.form-container{
  height: 100%;
  width: 100%;
  margin-top: 95px;
  padding: 0 15px;
  

}

// .form-button{
//   border-radius: 4px !important;
//   padding: 15px 30px !important;
//   background-color: $green;
//   color: $white;
//   border: none;
//   font-size: 15px;
//   font-weight: 600;
//   margin: 7px 0px !important;
//   cursor: pointer;
// }

// .remove-button{
//   background-color: $red;
// }

.button-small{
  border: 1px solid $white;
  padding: 2px 15px !important;
  background-color: $light-blue;
  font-size: 13px;
  position: relative;
  bottom: 7px;
  float: right !important;
  display: inline-block;
  height: 28px;
}

.form-exitButton{
  text-align: right !important;
  padding: 1px;
  display: inline-block;
  height: 25px !important;
  float: right !important;
  cursor: pointer;
}


.form-input {
  background-size: 20px;
  border: 1px solid $light-grey !important;
  border-radius: 4px !important;
  height: 35px;
  width: 100% !important;
  overflow: auto;
  padding-left: 10px !important;
  font-size: 14px;
  cursor: inherit;
}

.form-link{
  text-decoration: none;
  margin: 0px 20px;
  color: $dark-blue !important;
  font-weight: 500;
  font-size: 15px;
}

.form-subtitle{
  color: $grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 1 !important;
}

input:focus, select.multiselect:focus {
  border-color: $black !important;
  outline-color: transparent;
  outline-style: none;
}

.Input-Area{
  padding: 10px 0px;
}

.input-header {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px !important;
}

.modal {
  border-top: 1px solid $black;
  overflow: scroll !important;
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  visibility: hidden !important;
  // display: none;
  background-color: $white !important;
  // border: 2px solid $light-grey;
  padding: 20px 20px;
  border-radius: 0px;
  width: 100%;
  height: 75%;
  z-index: 5000;
  padding-bottom: 5px !important;
  margin:0 !important;

  .Title-Area{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10%;
    margin: 0 !important;
    padding: 0 !important;

  }
}

.modal-header {
  display: inline-block !important;
}

.open-modal{
  visibility: visible !important;
}

.title-header{
  margin: 0 !important;
  font-weight: bold !important;
  font-size: 1.6rem;
  margin-bottom: -50px;
}

.select-portal-permission{
  margin: 10px;
  font-size: 14px;
  border: 1px solid $grey !important;
  border-radius: 4px !important;
  padding: 10px;
  background-color: $white;
}

::placeholder {
    font-size: 12px;
    color: $dark-grey !important;
    opacity: 1; /* Firefox */
    font-weight: 200;
}

.large-textarea{
  height: 100px !important;
  padding: 25px 0 100px 0;
}

select.multiselect{

  background-color: $white !important;
  background-size: 20px;
  border: 1px solid $light-grey !important;
  border-radius: 4px !important;
  height: 100% !important;
  width: 100% !important;
  overflow: auto;
  padding-left: 10px !important;
  font-size: 14px;
  padding: 10px 10px;
  margin-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   background: url(../../assets/caret.svg) no-repeat 254px 12px;
  option{

    padding: 2px 0;
  }
  cursor: pointer;
}

// select:required:invalid {
//   color: $light-grey;
// }

select:invalid { color: gray; }

select::-ms-expand {	display: block; }

// select::-ms-expand { display: block; }



/* MEDIA QUERIES */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-fullWidth {
    width: 100% !important;
  }

  .form-exitButton{
    height: 25px;
    bottom: 2px;
    left: 88px;
  }
}

@media only screen and (min-width : 601px) and (max-width : 767px){
  .Card-Area{
    display: grid !important;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  select.multiselect{
    width: 45% !important;
  }
  .form-input {
    width: 45% !important;
  }
  .form-exitButton{
    // left: 70px;
  }
  .Card-Area{
    display: grid !important;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }

  .form-container{
    padding: 0 25px;
    
  
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 667px) {
  .form-container{
    padding: 0 25px;

  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-exitButton{
    // margin-left: 74%;
  }

  .Card-Area{
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-exitButton{
    // height: 25px;
    // left: 70px;
  }

  .Card-Area{
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
  }
}
