@import './abstract/variables';

.HomeIcon-Component{
  margin-left: auto;
  align-items : center !important;
}

.homeicon {
  height: 40px !important;
  position: relative;
  vertical-align: middle;
}
