@import './abstract/variables';

.humanitarian {
  height: 30px !important;
  position: relative;
  bottom: 1px;
  display:inline-block;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .humanitarian{
    top: 0px;
    height: 43px !important;
    right: 6px;
  }
}
