@import './abstract/variables';

.indexbutton {
  background-color: $white;
  height: .68em;
  position: fixed;
  z-index: 9000;
  cursor: pointer !important;
  margin-top: 6px;
  left: 16px;
}

@media only screen and (min-width: 575px) {
  .indexbutton{
    left: 35px;
  }
}

@media only screen and (max-width: 375px) {
  .indexbutton{
    left: 15px;
  }
}