@import './abstract/variables';

.index-button {
  background-color: $white;
  height: .68em;
  position: fixed;
  z-index: 9;
  cursor: pointer !important;
  margin-top: 6px;
  left: 16px;
}

@media only screen and (min-width: 575px) {
  .index-button{
    left: 30px;
  }
}