@import './abstract/variables';

.newArticle {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display:inline-block;
  cursor: pointer;
}

@media only screen and (min-width: 568px) {
  img.newArticle{
    height: 42px !important;
    margin: 0px;
    bottom: 0px;
    padding-top: 15px;
  }
}
