@import './abstract/variables';

.PiXChatIcon-Component{
  position: relative;
  margin-left: 20px;
  margin-right:0;
  top: 2px;
  // display: flex;

}

.pixchaticon{
  position: relative;
  height: 43px !important;
  display: block;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pixchaticon{
    visibility: hidden !important;
  }

}
