@import './abstract/variables';

.SearchBar-Component {
  position: relative !important;
  margin-left: 30px !important;
  width: 100%;
  display: flex;
  flex-grow: 8;
}

input.SearchBar-Input {
  white-space: nowrap;
  text-overflow: ellipsis;
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  border: 1px solid #2A2B29 !important;
  border-radius: 4px !important;
  height: 45px;
  overflow: auto;
  padding-left: 36px !important;
  background-position: 9px 12px;
  box-sizing: border-box;
  display: flex;
  position: relative !important;
  flex: 1;
  box-sizing: border-box;

}

::placeholder {
  font-size: 15px !important;
  color: $dark-grey !important;
  opacity: 1; /* Firefox */
  font-weight: 500;
  position: relative;
  top: 1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 340px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 370px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  input.SearchBar-Input{
    width: 700px !important;
  }

  .SearchBar-Component {
    display: block !important;
  }
}
