@import './abstract/variables';

.navigation-sidepanel {
  border: .5px solid $light-grey;
  position: fixed !important;
  margin-top: 60px !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100% !important;
  padding: 5px 20px;
  background-color: $white;
  z-index:10000;
  background-size: auto;
  list-style-type: none;
  transform: translateX(-100vh);
  -webkit-transition: transform 0.3s ease-out !important;
  visibility: hidden;
}

.item{
  display: flex;
  vertical-align: middle;
  align-items : center;
}

.item-icon{
  margin-left: auto;
  display:inline-block;
  position: relative;
  bottom: 2px;
  right: 5px;
}

.sidepanel-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.sidemenu-items-div{
  display: flex;
}

.item-icon{
  margin-left: auto;
}

.sidepanel-ul > li{
  list-style-type: none;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  text-decoration: none;
}

.sidepanel-ul > li > a{
  color: $black !important;
  display: inline-block !important;
  text-decoration: none !important;
  font-size: 16px;
  position: relative;
}

.navigation-sidepanel.open {
  transform: translateX(0vh) !important;
  visibility: visible;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navigation-sidepanel-items > ul > li{
    padding: 20px 0px;
  }
  .navigation-sidepanel-items > ul > li > a{
    // font-size: 1.7rem;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navigation-sidepanel-items > ul > li > a{

  }
}
