@import './abstract/variables';

.uploadbutton {
    height: 21px !important;
    position: relative;
    vertical-align: middle;
    margin-top: 11px;
    cursor: pointer;
    float: right;
    padding-right: 20px;
}

@media only screen and (max-width: 991px) {
    .uploadbutton {
        height: 18px !important;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 556px) {
    .uploadbutton {
        height: 15px !important;
        margin-top: 11px;
    }
}