@import './abstract/variables';

.article-tag {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    background-color: $white;
    border: 1px solid $black;
    color: $black;
    padding: .15rem .55rem; 
    z-index: 5;
    border-radius: 30px;
    cursor: pointer;
    width: auto;
    margin: 1% .5%;
    vertical-align: super;
    display: inline-block;
    font-size: 75%;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none !important;
}

.article-tag:hover {
    background-color: $black;
    color: $white;
}

a:hover{
    text-decoration: none !important;
}

.tag-area{
    padding: 5px 0px;
}

.first-tag{
    margin-left: 0%;
}