@import './abstract/variables';

@media screen and (max-width: 987px){
  .communities-top{
    font-size: .5rem;
  }
}

.Discover-Component{
    justify-content: space-between; /* align horizontal */
    z-index: 2 !important;
    overflow: hidden !important;
    margin-top: 80px;
    align-items: center; /* align vertical */
    background-color: $white !important;
    box-shadow: none !important;
    display: flex !important;
}

.discover-toolbar{
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    margin-bottom: -20px;
}

.discover-right-column{
    border-left: 1px solid $light-grey;
    flex-grow: 1;
}

.discover-article-spotlight-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 30px;
    font-weight: 600;

}

.discover-article-spotlight-image{
    max-width:80%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.discover-article-spotlight-subheader{
    padding-right: 50px;
}

.discover-article-spotlight-metadata{
    color: $grey;
    font-size: 10px;
}

.communities-top{
    display: flex; 
    justify-content: left;
    flex-direction: row; 
    border-bottom: 1px solid $light-grey;
    align-content: space-between;
    // flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    background: $white;
    overflow-x: hidden !important;
}

.communities-bottom{
    display: flex; 
    justify-content: left;
    flex-direction: row; 
    border-bottom: 1px solid $light-grey;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    background: $white;


    .community-item {
        font-size: 9px;
        margin-left: 20px;
        margin-right: -5px;
        padding: 13px;
    }
}

.community-item{
    margin-left: 20px;
    margin-right: 25px;
    padding: 12px;
    font-size: 14cd upx;
    white-space: nowrap;
    // -webkit-flex: 1;  /* Safari 6.1+ */
    // -ms-flex: 1;  /* IE 10 */  
    // flex: 1;

}

.selected{
    border-bottom: 1px solid $black !important;
    font-weight: 600;
}

.discover-article-spotlight-rightcolumn{
 
}

.right-column{
    display: flex; 
    justify-content: center;
    flex-direction: row; 
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%; 
}

// discover content

.discover-main{
    display: flex;
}

.left-column{
    margin-top: 25px;  
    display: flex; 
}

.right-column{
    border-left: 1px solid $light-grey;
}

.subtext{
 
}

.left-column-headerinfo{

}