@import './abstract/variables';

.caret {
  left: 60px;
  top: 37px !important;
  position: fixed !important;
  height: 5px !important;
  display:inline-block;
  transition: transform 300ms ease;
  z-index: 99;
}

.open {
  transform: rotate( 180deg );
  transition: transform 300ms ease;
  background-color: $black;
}

@media only screen and (min-width: 575px) {
  .caret{
    left: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 991px) {
  .caret{
    visibility: hidden !important;
  }
}