@import './abstract/variables';

.PiXChatIcon-Component{
  position: relative;
  margin-left: 17px;
  margin-right:0;
  top: 1px;
}

.pixchaticon{
  position: relative;
  height: 43px !important;
  display: block;
}

.pixchaticonblack{
  position: relative;
  height: 18px !important;
  display: block; 

}

.pixmail{
  position: relative;
  height: 18px !important;
  display: block;

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 991px) {
  .pixchaticon{
    display: none !important;
    visibility: hidden !important;
  }
}

@media only screen and (max-width: 350px) {
  .PiXChatIcon-Component{
    margin-left: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .PiXChatIcon-Component{
    margin-left: 5px;
  }
}

