@import './abstract/variables';

body {
  margin: 0;
  font-family: $font-stack;
  font-size: 14px;
  line-height: 1.42;
  color: $black !important;
  -webkit-font-smoothing: antialiased;
  padding:0 !important;
}

.app-body{
  overflow-x: hidden;
}
