@import './abstract/variables';

.table {
    color: $black !important;
}

.table thead th {
    border: none !important;
}

.table td, .table th{
    // border-top: 1px solid $grey !important;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: $light-grey !important;
}

.col-lg-6{
    max-width: 100% !important;
}