html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: border-box !important;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: #3c3d3b !important;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0 !important;
  padding: 0 !important; }

.backdrop-modal:after {
  margin: 0 !important;
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  height: 100% !important; }

.Navbar-Component {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  height: 80px !important;
  background-color: #3c3d3b !important;
  box-shadow: none !important;
  z-index: 11000 !important;
  display: flex !important;
  border-bottom: 1px solid #2A2B29 !important;
  padding: 18px 25px;
  margin: 0 auto;
  align-items: stretch; }

.navigation {
  margin-bottom: 80px; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 568px) {
  .article-toolbar-largescreens {
    visibility: visible; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 575px) {
  .Navbar-Component {
    padding: 18px 15px; }

  .article-toolbar-largescreens {
    visibility: visible; } }
.SearchBar-Component {
  position: relative !important;
  margin-left: 30px !important;
  width: 100%;
  display: flex;
  flex-grow: 8; }

input.SearchBar-Input {
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #2A2B29 !important;
  border-radius: 4px !important;
  height: 45px;
  overflow: auto;
  padding-left: 15px !important;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  position: relative !important;
  flex: 1;
  box-sizing: border-box; }

::placeholder {
  font-size: 14px !important;
  color: #656664 !important;
  opacity: 1;
  /* Firefox */
  font-weight: 500;
  position: relative; }

/* Extra small devices (phones, 600px and down) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  input.SearchBar-Input {
    width: 450px !important;
    position: relative;
    right: 10px; }

  .SearchBar-Component {
    display: block !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 360px) {
  input.SearchBar-Input {
    width: 450px !important;
    position: relative;
    right: 5px; }

  .SearchBar-Component {
    width: 55%;
    margin-left: 35px !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 340px) {
  input.SearchBar-Input {
    width: 450px !important;
    position: relative;
    right: 10px; }

  .SearchBar-Component {
    width: 50%;
    margin-left: 40px !important; } }
.navigation-sidepanel {
  border: 0.5px solid #eaeaea;
  position: fixed !important;
  margin-top: 60px !important;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100% !important;
  padding: 27px 27px;
  background-color: #FFFFFF;
  z-index: 10000;
  background-size: auto;
  list-style-type: none;
  transform: translateY(-100vh);
  -webkit-transition: transform 0.3s ease-out !important;
  visibility: hidden; }

.item {
  display: flex;
  vertical-align: middle;
  align-items: center; }

.item-icon {
  margin-left: auto;
  display: inline-block;
  position: relative;
  bottom: 2px;
  right: 5px; }

.sidepanel-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none; }

.sidemenu-items-div {
  display: flex; }

.item-icon {
  margin-left: auto; }

.sidepanel-ul > li {
  list-style-type: none;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  text-decoration: none; }

.sidepanel-ul > li > a {
  color: #3c3d3b !important;
  display: inline-block !important;
  text-decoration: none !important;
  font-size: 16px;
  position: relative; }

.navigation-sidepanel.open {
  transform: translateX(0vh) !important;
  visibility: visible; }

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
.caret {
  left: 70px;
  top: 36px !important;
  position: fixed !important;
  height: 10px !important;
  display: inline-block;
  transition: transform 300ms ease; }

.open {
  transform: rotate(180deg);
  transition: transform 300ms ease; }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .caret {
    visibility: hidden !important; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 575px) {
  .caret {
    left: 60px; } }
.PiXChatIcon-Component {
  position: relative;
  margin-left: 20px;
  margin-right: 0;
  top: 2px; }

.pixchaticon {
  position: relative;
  height: 43px !important;
  display: block; }

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pixchaticon {
    visibility: hidden !important; } }
.article-image {
  max-width: 100%; }

h1.article-title {
  color: #181717;
  font-weight: 500;
  font-size: 40px;
  font-family: Georgia, serif;
  padding-left: 0px !important;
  margin-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 140px !important;
  margin-bottom: 0px !important; }

.caret-breaker {
  font-size: 12px;
  padding: 0px 5px;
  position: relative;
  bottom: 1px;
  text-decoration: none !important; }

.SectionArea {
  padding-top: 5px;
  margin-top: 30px; }

.section-paragraph {
  font-size: 16px; }

.section-title {
  font-weight: 400;
  font-size: 22px;
  font-family: Georgia, serif;
  padding-bottom: 5px !important; }

span.divider {
  position: relative;
  font-size: 15px;
  color: #A2A2A2;
  border-left: 1px solid #A2A2A2;
  height: 20px; }

.IndexButton-Component {
  background-color: #FFFFFF;
  z-index: 8000;
  cursor: pointer; }

.indexbutton {
  height: 1.4em;
  position: fixed;
  z-index: 9000; }

@media only screen and (max-width: 375px) {
  .indexbutton {
    left: 15px; } }
.Card-Area {
  display: grid; }

.divider-line {
  border: 0.5px solid #eaeaea; }

.form-container {
  margin: 0 !important;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  margin: 0 !important; }

.button-small {
  border: 1px solid #FFFFFF;
  padding: 2px 15px !important;
  background-color: #2ca9e1;
  font-size: 13px;
  position: relative;
  bottom: 7px;
  float: right !important;
  display: inline-block;
  height: 28px; }

.form-exitButton {
  text-align: right !important;
  padding: 1px;
  display: inline-block;
  height: 25px !important;
  float: right !important;
  cursor: pointer; }

.form-input {
  background-size: 20px;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  height: 35px;
  width: 100% !important;
  overflow: auto;
  padding-left: 10px !important;
  font-size: 14px;
  cursor: inherit; }

.form-link {
  text-decoration: none;
  margin: 0px 20px;
  color: #27489a !important;
  font-weight: 500;
  font-size: 15px; }

.form-subtitle {
  color: #A2A2A2;
  font-weight: 400;
  font-size: 14px;
  line-height: 1 !important; }

input:focus, select.multiselect:focus {
  border-color: #3c3d3b !important;
  outline-color: transparent;
  outline-style: none; }

.Input-Area {
  padding: 10px 0px; }

.input-header {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px !important; }

.modal {
  border-top: 1px solid #3c3d3b;
  overflow: scroll !important;
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  visibility: hidden !important;
  background-color: #FFFFFF !important;
  padding: 20px 20px;
  border-radius: 0px;
  width: 100%;
  height: 75%;
  z-index: 5000;
  padding-bottom: 5px !important;
  margin: 0 !important; }
  .modal .Title-Area {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10%;
    margin: 0 !important;
    padding: 0 !important; }

.modal-header {
  display: inline-block !important; }

.open-modal {
  visibility: visible !important; }

.title-header {
  margin: 0 !important;
  font-weight: bold !important;
  font-size: 1.6rem;
  margin-bottom: -50px; }

.select-portal-permission {
  margin: 10px;
  font-size: 14px;
  border: 1px solid #A2A2A2 !important;
  border-radius: 4px !important;
  padding: 10px;
  background-color: #FFFFFF; }

::placeholder {
  font-size: 12px;
  color: #656664 !important;
  opacity: 1;
  /* Firefox */
  font-weight: 200; }

.large-textarea {
  height: 100px !important;
  padding: 25px 0 100px 0; }

select.multiselect {
  background-color: #FFFFFF !important;
  background-size: 20px;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  height: 100% !important;
  width: 100% !important;
  overflow: auto;
  padding-left: 10px !important;
  font-size: 14px;
  padding: 10px 10px;
  margin-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../assets/caret.svg) no-repeat 254px 12px;
  cursor: pointer; }
  select.multiselect option {
    padding: 2px 0; }

select:invalid {
  color: gray; }

select::-ms-expand {
  display: block; }

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-fullWidth {
    width: 100% !important; }

  .form-exitButton {
    height: 25px;
    bottom: 2px;
    left: 88px; } }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .Card-Area {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-gap: 5px; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  select.multiselect {
    width: 45% !important; }

  .form-input {
    width: 45% !important; }

  .Card-Area {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-gap: 5px; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Card-Area {
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-gap: 5px; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Card-Area {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px; } }
.card-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px 5px;
  margin: 5px 0px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  width: 100%; }

.Portal-Cards {
  display: block !important;
  position: absolute; }

.card-header {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 5px; }

.radio-inputs {
  background-color: #FFFFFF !important;
  margin: 15px 0px;
  width: 20px !important;
  height: 20px !important;
  font-size: 14px; }

.radioButtonText {
  position: relative;
  bottom: 3px;
  font-size: 17px;
  margin-left: 5px;
  margin-right: 15px; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.Trash-Component {
  margin-top: 1rem !important; }

.trash-button {
  margin-left: 10px;
  margin-top: 10px;
  height: 25px; }

.Backdrop-Component {
  width: 100%;
  height: auto;
  z-index: 4000;
  background-color: #656664;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
  position: absolute; }

.FilterBar-Input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  background-image: url("../../assets/filter.svg");
  background-repeat: no-repeat;
  padding-left: 25px;
  background-size: 14px;
  height: 25px;
  margin: 20px 0px;
  margin-bottom: 10px; }

.FilterBar-Input::placeholder {
  position: relative;
  bottom: 3px;
  font-size: 13px; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .FilterBar-Input {
    width: 40% !important; } }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .FilterBar-Input {
    width: 42% !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .FilterBar-Input {
    width: 45% !important; } }
.PiX-Icon {
  height: 2.7em !important;
  position: relative;
  cursor: pointer !important; }

.ArticleToolbar-Component {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  position: fixed !important;
  width: 100% !important;
  left: 0;
  bottom: 0;
  height: 55px !important;
  background-color: #3c3d3b !important;
  box-shadow: 1px 1px 3px #eaeaea !important;
  z-index: 8000 !important;
  display: flex !important;
  border-top: 1px solid #2A2B29 !important;
  padding: 13px 20px;
  align-items: stretch;
  white-space: nowrap; }

.ArticleToolbar-Component.space-between {
  justify-content: space-between; }

.article-toolbar-largescreens {
  position: fixed;
  transform: translateX(12px) !important;
  margin-top: 150px; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .ArticleToolbar-Component {
    visibility: hidden; }

  .article-toolbar-largescreens {
    visibility: visible; } }
@media only screen and (max-width: 575px) {
  .ArticleToolbar-Component {
    visibility: visible; }

  .article-toolbar-largescreens {
    visibility: hidden !important; } }
.ArticleBanner-Component {
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #2ca9e1;
  overflow: hidden;
  position: fixed !important;
  width: 100% !important;
  top: 63px !important;
  left: 0 !important;
  height: 40px !important;
  box-shadow: none !important;
  z-index: 9000 !important;
  border-bottom: 1px solid #0D7EA8 !important;
  padding: 6px 20px;
  align-items: stretch;
  white-space: nowrap;
  display: flex !important;
  text-align: left !important; }
  .ArticleBanner-Component a:hover {
    text-decoration: underline !important; }

.Banner-Title {
  color: #FFFFFF;
  font-size: 13px;
  overflow: hidden;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  top: 6px; }

a:hover {
  text-decoration: underline !important; }

.ArticlesButton-Component {
  flex: 1;
  position: relative;
  float: right !important; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .ArticleBanner-Component {
    height: 55px !important; }

  .Banner-Title {
    font-size: 20px;
    margin-left: 1%;
    top: 10px; }

  .button-small {
    height: 35px;
    bottom: 3px;
    margin-right: 60px !important;
    padding: 2px 15px !important; }
    .button-small:hover {
      background-color: #FFFFFF;
      color: #2ca9e1; } }
.humanitarian {
  height: 30px !important;
  position: relative;
  bottom: 1px;
  display: inline-block; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .humanitarian {
    top: 0px;
    height: 43px !important;
    right: 6px; } }
.ArticleIndexBar-Component {
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden !important;
  position: fixed !important;
  width: 100% !important;
  top: 69px !important;
  left: 0 !important;
  height: 50px !important;
  background-color: #FFFFFF !important;
  box-shadow: 1px 1px 3px #eaeaea !important;
  z-index: 8000 !important;
  display: flex !important;
  border-top: 1px solid #eaeaea !important;
  border-bottom: 1px solid #eaeaea !important;
  padding: 18px 30px;
  align-items: stretch;
  white-space: nowrap;
  opacity: 0.97;
  font-size: 16px; }

.breadcrumbs {
  padding-left: 55px;
  color: #A2A2A2;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 5px;
  position: relative;
  font-size: 16px;
  bottom: 1px;
  padding-right: 20px;
  text-overflow: ellipsis; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 376px) {
  .ArticleIndexBar-Component {
    padding-right: 20px; }

  .breadcrumbs {
    padding-left: 15px; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .ArticleIndexBar-Component {
    top: 69px !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .breadcrumbs {
    padding-left: 55px; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .breadcrumbs {
    padding-left: 65px; } }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 575px) {
  .ArticleIndexBar-Component {
    padding: 18px 15px; }

  .breadcrumbs {
    padding-left: 40px; } }
.info {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display: inline-block;
  float: right;
  cursor: pointer; }

@media only screen and (min-width: 568px) {
  img.info {
    height: 43px !important;
    margin: 0px !important;
    bottom: 0px;
    padding-top: 15px; } }
.newArticle {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display: inline-block;
  cursor: pointer; }

@media only screen and (min-width: 568px) {
  img.newArticle {
    height: 42px !important;
    margin: 0px;
    bottom: 0px;
    padding-top: 15px; } }
.editArticle {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display: inline-block;
  cursor: pointer; }

@media only screen and (min-width: 568px) {
  img.editArticle {
    height: 28px !important;
    margin: 0px !important;
    bottom: 0px; } }
.bookmark {
  height: 42px !important;
  position: relative;
  bottom: 7px;
  display: inline-block;
  cursor: pointer; }

@media only screen and (min-width: 568px) {
  img.bookmark {
    height: 41px !important;
    margin: 0px !important;
    bottom: 0px;
    padding-top: 15px; } }
.HomeIcon-Component {
  margin-left: auto;
  align-items: center !important; }

.homeicon {
  height: 30px !important;
  position: relative;
  vertical-align: middle; }

.articledetails-container {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 90px; }

h1.details-tab-title {
  color: #3c3d3b;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600 !important; }

h2.details-tab-subtitle {
  color: #3c3d3b;
  font-size: 0.9rem;
  font-weight: 600 !important;
  margin-top: 8px;
  margin-bottom: 0px; }

h2.details-articles-tab-subtitle {
  color: #656664;
  font-size: 0.6rem;
  font-weight: 500;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  text-align: left !important; }

.tab {
  margin: 15px 0; }

h3.tab-option {
  margin: 0 10px;
  font-weight: 400;
  font-size: 0.9rem; }

.tab-option.tab-selected {
  font-weight: 600; }

.tab-underline {
  width: 80px;
  height: 2px;
  background-color: #3c3d3b;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  top: 7px; }

.tab-line {
  position: relative;
  bottom: 10px; }

p.details-tab-paragraph {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  font-size: .8rem; }

@media only screen and (max-width: 600px) {
  h1.article-title {
    font-size: 1.7rem !important; } }
/* Extra large devices (large laptops and desktops, 1200px and up) */
.EditButtonMobile {
  background-color: #FFFFFF;
  border-radius: 120px;
  box-shadow: 1px 2px 5px #A2A2A2;
  position: fixed;
  width: 15%;
  heigh: 15%;
  bottom: 3%;
  left: 81%;
  text-align: center; }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .EditButtonMobile {
    visibility: hidden !important; } }
.table {
  color: #3c3d3b !important; }

.table thead th {
  border: none !important; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eaeaea !important; }

.col-lg-6 {
  max-width: 100% !important; }

.button {
  border-radius: 4px !important;
  padding: 15px 30px !important;
  color: #FFFFFF;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 7px 0px !important;
  cursor: pointer; }

.success-button {
  background-color: #38b34a; }

.danger-button {
  background-color: #f0504e; }

.button-large {
  padding: 15px 30px;
  min-width: 60px; }

.button-medium {
  padding: 15px 30px;
  min-width: 40px; }

/*# sourceMappingURL=App.css.map */
