@import './abstract/variables';

.index-button {
  z-index: 9 !important;
  height: 1.7rem;
  cursor: pointer !important;
  margin-left: -5.5px;
  margin-top: -3.8px;
  position: fixed;
}

// .index-button:hover{

// }