@import './abstract/variables';

.Trash-Component{
  margin-top: 1rem !important;
}

.trash-button {
  margin-left: 10px;
  margin-top: 10px;
  height: 25px;
  // display: inline-block !important;
  // vertical-align: middle;

}
