// Color Palette
$dark-black: #2A2B29 !default;
$black: #3c3d3b !default;
$white: #FFFFFF !default;
$light-grey: #eaeaea !default;
$grey: #A2A2A2 !default;
$dark-grey: #656664 !default;
$green: #38b34a !default;
$dark-blue: #27489a !default;
$light-blue: #2ca9e1 !default;
$red: #f0504e !default;

// Typeface
$font-stack:    Helvetica, sans-serif;
$article-titles: Georgia, serif;
