// Color Palette
$dark-black: #2A2B29 !default;
$black: #3c3d3b !default;
$white: #FCFCFC !default;
$light-grey: #eaeaea !default;
$dark-grey: #656664 !default;


// Typeface
$font-stack:    Helvetica, sans-serif;
