@import './abstract/variables';

.ArticleToolbar-Component{
  width: 100% !important;
  bottom: 0;
  height: 55px !important;
  background-color: $black !important;
  box-shadow: 1px 1px 3px $light-grey !important;
  z-index: 99 !important;
  // display: flex !important;
  border-top: 1px solid $dark-black !important;
  padding: 13px 20px;
  align-items: stretch;
  white-space: nowrap;
  position: fixed;
  overflow: hidden;
}

.article-toolbar-largescreens{
  transform: translateX(1.2rem) !important;
  position: fixed;
  overflow-y: hidden !important;
}

.ArticleToolbar-Component.space-between{
  justify-content: space-between;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 576px) {
  .ArticleToolbar-Component{
    visibility: hidden;
  }
  .article-toolbar-largescreens{
    visibility: visible;
  }
}

@media only screen and (max-width: 575px) {
  .ArticleToolbar-Component{
    visibility: visible;
  }
  .article-toolbar-largescreens{
    visibility: hidden !important;
  }
}