@import './abstract/variables';

.article-banner {
  text-align: center !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  background-color: $light-blue;
  border: 2px solid $light-blue !important;
  color: $white;
  z-index: 5;
  margin-bottom: 0px !important;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-left: 10px !important;
  width: auto !important;
  margin-right: 15px !important;
  border-radius: 2px;
}

.banner-title{
  text-align: center;
  color: $white;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

a:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
}

.ArticlesButton-Component{
  flex: 1;
  position: relative;
  float: right !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 568px) {
  .ArticleBanner-Component{
      height: 55px !important;
  }
  .Banner-Title{
    font-size: 20px;
    margin-left: 1%;
    top: 10px;
  }
  .button-small{
    height: 35px;
    bottom: 3px;
    margin-right: 60px !important;
    padding: 2px 15px !important;
    &:hover{
      background-color: $white;
      color: $light-blue;
    }
  }
}