@import './abstract/variables';

.indexSidePanel {
  width: 12rem;
  border: 1px solid $light-grey;
  padding: 7px 25px;
  background-color: #fdfdfd;
  list-style-type: none;
}

.indexSidePanel.open {
  // transform: translateX(-15rem) !important;
}

.index-header {
  font-size: .79rem;
  margin-top: 4.9px !important;
  font-weight: 800;
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (max-width: 376px) {
//   .indexSidePanel {
//     width: 10rem;
//   }
// }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 991px) {
  .indexSidePanel {
    flex: 0 0 0rem;
    transform: translateX(-150vh);
    transition: none !important;
  }
  
  .indexSidePanel.open {
    transform: translateX(0vh) !important;
  }
}