@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
  margin-top: 0;
}

.Body{
  background-color: $white;
  border-left: .5px solid $darker-purple;
  border-right: .5px solid $darker-purple;

}

body{
  margin: 0;
  padding: 0;
  // font-family: $font-family;
  background-color: $white;
}
