// Color Palette
$black: #221E1E !default;
$white: #FCFCFC !default;
$purple: #7D6AB1 !default;
$darker-purple: #473479 !default;
$dark-purple: #5A4298 !default;
$light-purple: #CEC2ED !default;

// Typeface
$font-stack:    Helvetica, sans-serif;
